.container {
  padding: 16px;
}

.title {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 1.5em;
  color: black
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}
