.container {
  padding: 2em;
}

.title {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 1em;
  color: white;
}

.subtitle {
  font-size: 0.8em;
  color: white;
  margin-bottom: 1.5em;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}
