.checkoutStage {
  text-align: start;
  font-weight: 900;
}

.dealSummary {
  display: flex;
  justify-content: space-between;
}

.dealTitle, .dealPrice {
  font-weight: 900;
}

.dealTitle {
  font-size: 3vw;
}

.dealPrice {
  font-size: 5vw;
}

.detailsDivider {
  border-top: 3px solid #6b34eb;
  width: 4vw;
  margin-bottom: 8vh;
}

.description {
  text-align: left;
  font-size: large;
  font-weight: bold;
}

.featuresContainer {
  display: flex;
  width: 50%;
}

.featuresList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 30px;
  list-style: none;
  padding-left: 1vw;
}

.featureItem {
  border-radius: 4px;
  list-style-image: url('../../../assets/icons/check.svg');
  text-align: left;
  font-size: medium;
  font-weight: bold;
}

.choice {
  text-align: left;
  font-size: large;
}

.promosContainer {
  display: flex;
  flex-wrap: wrap;
}

.promoCard {
  min-width: 20vw;
  max-width: 25vw;
  background-color: white;
  padding: 2vw 1.5vw;
  margin-right: 3vw;
  font-size: medium;
  font-weight: bold;
  text-align: left;
  position: relative;
  cursor: pointer;
  border: 2px solid transparent;
}

.promoCard.selected {
  border-color: #bd7ff0;
}

.checkIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
}

.bestSeller {
  background-color: #bd7ff0;
  color: white;
  padding: 0.5em 0 0.5em 1.5em;
  margin: -2vw 0 -1vw -1.5vw;
  width: 45%;
}

.promoName {
  margin-top: 2em;
}
