.homeContainer {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding-bottom: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
}
